# Build results
bin/FanPack64_Lite.exe
bin/FanPack_Lite.exe
old-files/dwinshs.iss
old-files/FanPack64_Lite-kopia-stara.iss
old-files/FanPack_Lite-kopia-stara.iss
old-files/License.txt

# My_PotPlayer64-*-.zip
# OpenCodecSetup64.exe
# PotPlayerSetup64.exe
